.titulo-1 {
    color: aqua;
    border-color: black;
    font-weight: bold;
    font-family: cursive;
    background-color: black;

}

.titulo-2 {
    color: aliceblue;
    border-color: aliceblue;
    text-align: center;
    font-style: italic;
    font-family: cursive;
    background-color: blueviolet;

}

.titulo-3 {
    text-decoration: underline;
    text-align: right;
    font-family: cursive;
    background-color: rgb(144, 209, 235);
}
span{
    color: aliceblue;
}