* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'ppp';
    src: url(comic_sans_ms/comic.ttf);
}

body{
    background-color: white;
    font-family: 'ppp';
    
}
.top {
    background-color: #B4CDE6;
}

.nav {
    width: 1080px;
    margin: 0 auto;
    color: #ffffff;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links {
    width: 30%;
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-around;
}

.nav a {
    color: #ffffff;
    text-decoration: none;
}

.nav-title {
    margin-left: 20px;
}
.nav2 {
    width: 1080px;
    margin: 0 auto;
    color: black;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links2 {
    width: 20%;
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-around;
}

.nav-title2 {
    margin-left: 20px;
}
.row {
    width: 100%;
    height: 500px;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
}
.tiempo {
    background-color: #D8D8D8;
    margin: 1%;
    border-radius: 5px;
    
}
.dia {
    text-align: center;
    margin: 2%;
}

.tiempo img {
    border-radius:180px;
    width: 80%;
    text-align: center;
    margin: 10%;
}

.tiempo p{
    text-align: center;
    font-weight: bolder;
    margin: 5%;
}

table {
    text-align: center;
    margin: 10%;
    
}
.tiempo-1{
    color: red;
    padding-left: 100%;
}
.tiempo-2{
    color: blue;
    padding-left: 200%;
}

